.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: 500px;
  height: 800px;
  padding-bottom: 20%;
  margin: auto;
}

.secretCode {
  grid-column: 1 / 6;
  grid-row: 1 / 4;
  background-color: blue;
  border-radius: 20px 20px 0 0;
}

/* I didn't put px after it... WOW silly errors */
.guesses {
  grid-column: 1 / 5;
  grid-row: 4 / 22;
  background-color: rgb(77, 165, 42);
}

.blackAndWhitePegs {
  grid-column: 5 / 6;
  grid-row: 4 / 22;
  background-color: rgb(165, 42, 147);
}

.colors {
  grid-column: 1 / 6;
  grid-row: 22 / 25;
  background-color: chocolate;
  border-radius: 0 0 20px 20px;
}