.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: 500px;
  height: 890px;
  margin: auto;
  background-image: url("https://cdn.wallpapersafari.com/84/55/u9cdnI.jpg");
  background-repeat: no-repeat;
  background-color: rgb(218, 170, 108); /* Used if the image is unavailable */
  background-size: cover;
  border-radius: 38.5px;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
  border: 1px solid rgb(65, 38, 15);
}

.title {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
}

.headers {
  grid-column: 1 / 6;
  grid-row: 3 / 5;
}

.rows {
  grid-column: 1 / 6;
  grid-row: 5 / 22;
}

.suggestedGuess {
  grid-column: 1 / 6;
  grid-row: 22 / 25;
}

