.circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* .circle:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
} */

.r {
  background: radial-gradient(circle at 18px 18px, rgb(255, 0, 0), rgb(0, 0, 0));
}

.b {
  background: radial-gradient(circle at 18px 18px, rgb(0, 60, 255), #000);
}

.g {
  background: radial-gradient(circle at 18px 18px, green, #000);
}

.y {
  background: radial-gradient(circle at 18px 18px, yellow, #000);
}

.o {
  background: radial-gradient(circle at 18px 18px, orange, #000);
}

.p {
  background: radial-gradient(circle at 18px 18px, purple, #000);
}

.n {
  background: radial-gradient(circle at 18px 18px, brown, #000);
}

.w {
  background: radial-gradient(circle at 18px 18px, white, #000);
}

.x {
  background-color: grey
}

.maybe {
  background-color: pink;
}

.impossible {
  background-color: rgb(52, 48, 48);
}

.certain {
  box-shadow:
  inset 0 0 8px #fff,      /* inner white */
  inset 3px 0 13px rgb(138, 118, 2),   /* inner left magenta short */
  inset -3px 0 13px yellow,  /* inner right cyan short */
  inset 3px 0 50px gold,  /* inner left magenta broad */
  inset -3px 0 50px yellow, /* inner right cyan broad */
  0 0 1px #fff,            /* outer white */
  -2px 0 13px gold,        /* outer left magenta */
  2px 0 13px yellow;         /* outer right cyan */
}

