.title {
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container {
  margin: 30px auto;
  padding-top: 18px;
  font-size: 3em;
  height: 600px;
  width: 620px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.wallpapersafari.com/84/55/u9cdnI.jpg");
  background-repeat: no-repeat;
  background-color: rgb(218, 170, 108); /* Used if the image is unavailable */
  background-size: cover;
  border-radius: 38.5px;
  box-shadow: 10px 10px 20px rgba(65, 38, 15, 0.6);
  border: 1px solid rgb(65, 38, 15);
}

.left {
  grid-column: 1 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right {
  grid-column: 4 / 9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.startGame {
  grid-column: 3 / 7;
  grid-row: 6 / 8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 198, 162);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(65, 38, 15);
  box-shadow: 5px 5px 10px rgba(65, 38, 15, 0.6);
}

.startGame:hover {
  color: rgb(228, 198, 162);
  background-color: rgb(65, 38, 15);
  border: 1px solid rgb(228, 198, 162);
  cursor: pointer;
}