.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  grid-column: 1 / 3;
}

.number {
  grid-column: 3 / 5;
}

.position {
  grid-column: 5 / 13;
}