.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  grid-column: 1 / 3;
  background-color: indianred;
}

.number {
  grid-column: 3 / 5;
  background-color: royalblue;
}

.position {
  grid-column: 5 / 13;
  background-color: green;
}