.rowContainer {
  display: flex;
  height: 100%;
}

.guess {
  background-color: burlywood;
  flex-grow: 5;
}

.bwPegs {
  display: flex;
  background-color: rgb(152, 88, 4);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}